.pagination {
    display: flex;
    justify-content: center;
    background: rgba(80,80,80,1);
    background: -moz-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(55,55,55,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,80,80,1)), color-stop(100%, rgba(55,55,55,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(55,55,55,1) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(55,55,55,1) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(55,55,55,1) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,1) 0%, rgba(55,55,55,1) 100%);
    box-shadow: 3px 3px 8px #222;
    margin-bottom: 60px;
}

.btn-container {
    width: 44px;
    height: 44px;
    margin: 0 8px;
}

.btn {
    position: relative;
    background-color: transparent;
    width: 44px;
    height: 44px;
    font-size: 30px;
    color: #5DCBB2;
    cursor: pointer;
    border: none;
    margin: 0 8px;
}

.btn span {
    position: absolute;
    top: 7%;
    left: 38%;
    font-weight: 700;
}

.btn:focus {
    outline: none;
}

.current-page span {
    color: #eee;
    line-height: 44px;
}