.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ;
    padding: 0px 32px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    color: #eee;
}

.logout {
    display: inline-block;
    background: #FF9159;
    color: #eee;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 16px;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 8px #FF9159;
}

.create-user {
    display: inline-block;
    background: #58DD4B;
    color: #eee;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 16px;
    margin-left: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 8px #58DD4B;
}

button:focus {
    outline: none;
}