.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ;
    padding: 0px 32px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    color: #eee;
}

.logout {
    display: inline-block;
    background: #ED4F32;
    color: #eee;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 16px;
    margin-left: 16px;
    cursor: pointer;
    box-shadow: 0 0 8px #ED4F32;
}

.create-user {
    display: inline-block;
    background: #288feb;
    color: #eee;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 16px;
    margin-left: 16px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 8px #288feb;
}